.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.attainU-bg {
  background-color: rgb(253, 253, 253);
}
.attainU-text {
  color: rgb(18, 60,105) !important;
  font-size: 1.5rem !important;
    margin-left: 0.5rem !important;
    vertical-align: middle;
}
.w-18-rem {
  width:18rem
}
.w-100 {
  width:100%;
}
.noWhiteSpace {
  white-space: nowrap;
}
.list-style-none {
  list-style-type: none;
}
.m-b-6 {
  margin-bottom: 6% !important;
}
.m-t-6 {
  margin-top: 6% !important;
}


/*  */
.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

.user-card-container {
  height: 60px;
  position: relative;
  overflow: hidden;
}

.country-name {
  font-size: 0.9rem;
}

.country-region {
  font-size: 0.7rem;
}

.country-page,
.country-name,
.country-region {
  line-height: 1;
}
